<form class="file-form" name="myForm" novalidate>

	<div class="upload-bpmn-file-container">
		<div class="upload-bpmn-file-button">
			<input class="choose-bpmn-file" type="file" id="input-file" accept=".bpmn" file-upload-directive/>
	  		<label for="input-file" class="choose-bpmn-file-label" tabindex="0">Upload a .bpmn file</label>
		</div>
		<div class="upload-choice-keyword">
			OR
		</div>
		<div class="upload-bpmn-file-drag-drop">
			Drag And Drop your file here
		</div>
	</div>
</form>
<div class="file-upload-message-container">
	<div ng-if="chooseFileController.loadFileState === 'success'"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="file-upload-message">File uploaded successfully.</span></div>
	<div ng-if="chooseFileController.loadFileState === 'error'"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="file-upload-message">An error occured. Please send file again.</span></div>
</div>


ABC