<div class="container">
	<h1>Processes</h1>
	<choose-file-directive></choose-file-directive>

	<table class="table table-striped processes-list">
    <thead>
      <tr>
        <th>date created</th>
        <th>process name</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="process in homeController.allProcesses">
        <td>{{ process.date_creation }}</td>
        <td>{{ process.name }}</td>
        <td>
        	<a class="fa fa-play-circle" title="deploy and run" ng-href="#/playprocess/{{ process.id }}"></a>
        	<a class="fa fa-medkit" title="deploy and debug"></a>
        	<a class="fa fa-commenting" title="information" ng-href="#/processdetail/{{ process.id }}"></a>
      	</td>
      </tr>
    </tbody>
  </table>
</div>
